body {
    margin: 0;
    position: relative;
}

.column {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.specials {
    background-color: #FA6938;
    color: white;
    margin: 0;
    height: 38px;
}


/* .specials p is the FREE SHIPPING! */

.specials p {
    background-color: #C8542D;
    text-transform: uppercase;
    font-family: sans-serif;
    display: inline-block;
    font-size: 11px;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 16%;
    margin-top: 5px;
}

.specials ul {
    display: inline-block;
    width: 60%;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.specials ul li {
    font-size: 14px;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
}


/* ^^^^ABOVE THIS IS THE CSS FOR THE SPECIALS ROW^^^^ */

header {
    background-color: white;
    position: relative;
    height: 128px;
}

.perforated {
    border-bottom: 5px solid transparent;
    -webkit-border-image: url(../images/perforated-bottom@2x.png) 0 0 44 0 repeat;
    -o-border-image: url(../images/perforated-bottom@2x.png) 0 0 44 0 repeat;
    border-image: url(../images/perforated-bottom@2x.png) 0 0 44 0 repeat;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
}

#nav {
    color: #303030;
    font-family: tahoma, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    margin: 0 0;
    position: absolute;
    top: 40%;
}

.cart {
    display: block;
    float: right;
    border: 1px #E0E0E0 solid;
    border-radius: 3px;
    padding: 7px;
    margin-top: 54px;
    margin-right: 1%;
}

.cart img {
    display: inline-block;
    height: 15px;
    width: 15px;
}

.cart p {
    display: inline-block;
    margin: 0 0;
}

.cart p:nth-child(3) {
    display: inline-block;
    margin: 0 0;
    background-color: #C8C8C8;
    padding: 0px;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
}

.input-field {
    background-color: white;
    line-height: 26px;
    border: 2px solid #E0E0E0;
    border-radius: 3px;
    padding-left: 5px
}

.search img {
    height: 13px;
    width: 13px;
}

.search input {
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

#sign-in {
    display: block;
    margin: 0 0;
    padding-left: 0;
}

#sign-in li {
    display: inline-block;
    font-size: 11px;
    font-family: tahoma, sans-serif;
    text-transform: uppercase;
}

#float-right {
    display: inline-block;
    float: right;
    margin-top: 40px;
}


/*^^^^ABOVE THIS IS THE CSS FOR THE HEADER^^^^*/

footer {
    background-color: #F4F4F4;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    float: left
}

.ft-column {
    display: inline-block;
    font-weight: 600;
    margin-right: 3%;
}

.ft-column ul {
    font-weight: 300;
    list-style: none;
    padding-left: 0;
}

.ft-column ul li {
    font-size: 14px;
    color: #909090;
    font-family: tahoma, sans-serif;
}

.assist {
    display: inline-block;
    background-color: #A0AEC1;
    color: #F4F4F4;
    font-family: tahoma, sans-serif;
    padding: 1%;
    float: right;
    margin-top: 10px;
}

.assist h1 {
    font-weight: 100;
    display: block;
    width: 100%;
    margin-bottom: 13px;
    margin-top: 0;
}

.assist p {
    display: inline-block;
    float: left;
    margin: 0;
}

.assist div {
    float: right;
    display: inline-block;
    background-color: #119BFF;
    padding: 5px 10px;
    margin: 0;
    border: 1px #2B89D9 solid;
}

.assist div p {
    display: inline;
    margin: 0;
}

.fine-print {
    clear: both;
}

.fine-print p {
    display: inline-block;
    font-size: 11px;
}


/*^^^^ABOVE THIS IS THE CSS FOR THE FOOTER^^^^*/

.button {
    display: block;
    text-transform: uppercase;
    background-color: #119BFF;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3%;
    font-family: tahoma, sans-serif;
    font-size: 10px;
    margin-top: 0;
}

a {
    text-decoration: none;
}
