body {
    margin: 0;
}

.column {
    padding-left: 16%;
    padding-right: 16%;
}

.specials {
    background-color: #FA6938;
    color: white;
    margin: 0;
    height: 38px;
}


/* .specials p is the FREE SHIPPING! */

.specials p {
    background-color: #C8542D;
    text-transform: uppercase;
    font-family: sans-serif;
    display: inline-block;
    font-size: 11px;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 16%;
    margin-top: 5px;
}

.specials ul {
    display: inline-block;
    width: 60%;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.specials ul li {
    font-size: 14px;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
}


/* ^^^^ABOVE THIS IS THE CSS FOR THE SPECIALS ROW^^^^ */

header {
    background-color: white;
    position: relative;
    height: 128px;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
}

#nav {
    color: #303030;
    font-family: tahoma, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    margin: 0 0;
    position: absolute;
    top: 40%;
}

.cart {
    display: block;
    float: right;
    border: 1px #E0E0E0 solid;
    border-radius: 3px;
    padding: 7px;
    margin-top: 54px;
    margin-right: 1%;
    /* position: absolute;
    top: 40%;
    right: 20%; */
}

.cart img {
    display: inline-block;
    height: 15px;
    width: 15px;
}

.cart p {
    display: inline-block;
    margin: 0 0;
}

.cart p:nth-child(3) {
    display: inline-block;
    margin: 0 0;
    background-color: #C8C8C8;
    padding: 0px;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
}

.search {
    border: blue 1px solid;
    display: block;
    background-color: white;
    /*    position: absolute;
    top: 45%;
    right: 0%; */
    line-height: 26px;
    border: 2px solid #E0E0E0;
}

.search img {
    height: 13px;
    width: 13px;
}

.search input {
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

#sign-in {
    display: block;
    margin: 0 0;
    padding-left: 0;
    /* position: absolute;
    top: 25%; 
    right: 0; */
}

#sign-in li {
    display: inline-block;
    font-size: 11px;
    font-family: tahoma, sans-serif;
    text-transform: uppercase;
}

#float-right {
    display: inline-block;
    float: right;
    margin-top: 40px;
}


/*^^^^ABOVE THIS IS THE CSS FOR THE HEADER^^^^*/

.showcase {
    background-color: #F4F4F4;
    border-image: url(images/perforated-bottom@2x.png) 10 round;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 5px;
}

.showcase .hanging-ties {
    display: flex;
    justify-content: center;
}

.showcase .hanging-ties figure {
    display: inline-block;
    margin: 0px 0px;
    padding-top: 0;
}

.showcase .hanging-ties figure figcaption {
    display: block;
    text-align: center;
    font-family: tahoma, sans-serif;
}

.showcase p {
    font-size: 60px;
    font-family: tahoma, sans-serif;
    text-align: center;
}


/*^^^^ above this is the css for the showcase^^^^*/

.display {
    display: flex;
    justify-content: center;
    width: 68%;
    position: relative;
}

.display div {
    display: inline-block;
    position: relative;
}

.display div p {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 25px;
    font-weight: bold;
    font-family: tahoma, sans-serif;
}

.display img {
    width: 90%;
}


/* .display div img {
    height: 60%;
    width: 60%;
} */


/*

.display div #bowtie {
    height: 60%;
    width: 60%;
}

.display div #pocket-square {
    height: 60%;
    width: 60%;
}

.display div #tie-bar {
    height: 60;
    width: 60%;
}
*/
